---
layout: single
title: Manual de Comunicación Gráfica en Redes Sociales
permalink: /manual-grafica-redes-sociales/
custom-class: single-manual
---

<div class="item" id="manual-grafica-redes-sociales">
  <div class="icono">
     <img src="/assets/img/icono-manual-grafica-redes-sociales.png">
  </div>
  <h3>Manual de Comunicación Gráfica en Redes Sociales</h3>
  <p>Manual creado para dar a conocer cómo se aplica la imagen institucional del Gobierno de Chile. Su objetivo es alinear todas las comunicaciones oficiales y simplificar la tarea de todos quienes generan piezas de comunicación para el Gobierno.</p>
  <a href="http://kitdigital.gob.cl/archivos/redes-sociales/MV1-0_comunicacion-grafica-redes-sociales.pdf.zip" class="descarga js-track" data-ga-category="descargas_manual_rrss" data-ga-action="click" data-ga-label="manual_grafica_rrss-gobcl" download>
    <span class="icono"></span>
    <span class="texto">Descargar <strong>Manual</strong>  (ZIP)</span>
  </a>
</div>

<div class="lista">

  <h3><strong>Descargables</strong> Manual de Comunicación Gráfica en Redes Sociales</h3>

  {% for entry in site.data.manual-redes %}
  <div class="grupo">
    <h4>{{ entry.grupo }}</h4>
    <ul>
      {% for item in entry.items %}
      <li><a {% if item.disabled == true %} class="disabled" {% else %} {% if item.link %} href="{{ item.link }}" {% else %} href="{{ site.baseurl }}/archivos/redes-sociales/{{ item.archivo }}" download {% endif %} class="descarga js-track" data-ga-category="descargas_manual" data-ga-action="click" data-ga-label="{{ item.ga_label }}"  {% endif %}>{{ item.nombre }}</a></li>
      {% endfor %}

    </ul>
  </div>
  {% endfor %}


</div>


<div class="cf"></div>
