<!--[if lt IE 7]>
    <p class="browsehappy">Estás usando un navegador <strong>obsoleto</strong>. Por favor <a href="http://browsehappy.com/">actualiza tu navegador</a> para mejorar tu experiencia.</p>
<![endif]-->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header>

  <div class="wrap bicolorbg">
    <a href="/" id="logo">
    <h1>Kit<strong>Digital</strong></h1>
    <h2>Gobierno de Chile</h2>
  </a>

  <div class="desc">
    <p>El Kit Digital consiste de una serie de herramientas de comunicación digital, diseño y desarrollo para facilitar la creación y mejora de los productos oficiales de Gobierno.</p>
    <p>El contenido se actualizará de forma periódica, agregando nuevos componentes para el diseño y desarrollo de productos digitales e impresos por parte de instituciones públicas.</p>
  </div>

  <div class="cf"></div>

  </div>
</header>