---
---

// @import 'normalize.less';
// @import 'basics.less';



body {
	background:#CDEAF9 url(../img/bg.png) repeat top left;
	// .opensans;
}

.wrap {
	width:100%;
	max-width:960px;
	margin:0 auto;
	text-align:left;
	position:relative;
}

.bicolorbg {
	background:url(../img/bicolor-bg.png) no-repeat left top;
}

header {
	background:#fff;
	border-bottom:2px solid #C1C7C9;
	margin:0 auto 25px;
	.wrap {
		padding:40px 0 35px;
	}
	a#logo {
		width:230px;
		padding:0 0 0 75px;
		background:url(../img/a-logo-bg.png) no-repeat left center;
		display:block;
		float:left;
		h1 {
			color:#717B7F;
			font-size:35px;
		}
		h2 {
			color:#AAB1B5;
			font-size:19px;
			font-weight:700;
		}
	}
	.desc {
		float:right;
		font-size:13px;
		width:685px;
		// color:@grey;
		line-height:150%;
	}
}

#content {
	#social {
		width:80px;
		position:absolute;
		top:0;
		right:0;
		ul {
			li {
				margin:0 auto 15px;
				text-align:center;
			}
		}
	}
	.item {
		width:220px;
		float:left;
		margin:0 20px 20px 0;
		background:#fff;
		padding:20px;
		border-bottom:2px solid #C1C7C9;
		position:relative;
		.icono {
			text-align:center;
			margin:0 auto 20px;
			img {
				margin:0 auto;
				max-height:100%;
			}
		}
		h3 {
			// color:@blue;
			font-size:18px;
			font-weight:500;
			margin:0 auto 15px;
			line-height:120%;
			height:45px;
		}
		p {
			// color:@grey;
			font-size:12px;
			line-height:150%;
			margin:0 auto 15px;
			height:170px;
		}
		a.descarga {
			display:block;
			height:32px;
			border-bottom:2px solid #BF2B39;
			color:#fff;
			// .gobcl;
			font-size:13px;
			background:#EE3A43;
			span {
				display:block;
				float:left;
				height:30px;
				margin:0;
				// .transition(0.2s);
				&.icono {
					width:30px;
					background:#BF2B39 url(../img/a-descargar-bg.png) no-repeat center;
				}
				&.texto {
					width:150px;
					padding:10px 0 0 12px;
				}
			}
			&.ir {
				span {
					&.icono {
						background-image:url(../img/a-descargar-ir-bg.png);
					}
				}
			}
			&:hover {
				background:#F94B5C;
				span {
					&.icono {
						background-color:#EE3A43;
					}
				}
			}
		}
		.beta {
			display:block;
			position:absolute;
			top:0;
			right:0;
			width:60px;
			height:60px;
			z-index:999;
			background:url(../img/beta-ribbon.png) no-repeat;
		}
		&.item-pendiente {
			background:#e2f5f7;
			border-bottom:2px solid #70b4c4;
			h3 {
				color:#70b4c4;
			}
			p {
				color:#70b4c4;
			}
			a.descarga {
				background:#70b4c4;
				border-bottom:2px solid #56919b;
				cursor:default;
				span.icono {
					background:#70b4c4;
				}
			}
		}
	}
	&.single {
		.item {
			padding:0 0 20px;
			h3 {
				margin:0 20px 15px;
			}
			a.descarga {
				margin:0 20px;
			}
		}
	}
	&.single-manual {
		.item {
			margin:0 0 30px;
			#recursos-de-desarrollo-list {
			    h2 {
			        color:darken(#7a8791, 10%);
			        font-size: 18px;
			        font-weight: bold;
			        margin: 0 auto;
			        height: 25px;
			    }
			    ul {
			        list-style: circle;
			        padding-left: 20px;
			    }
			    li {
			        list-style: circle;
			        color:darken(#7a8791, 10%);
			        font-size: 12px;
			        height: 20px;
			        a {
			        	&:hover {
							text-decoration:underline;
			        	}
			        }
			    }
			}
			&.fixed {
				position:fixed;
				top:0;
			}
		}

		.lista {
			min-height: 481px;
			width:740px;
			padding:40px 50px 30px;
			background:#3c8292 url(../img/single-manual-lista-bg.png) no-repeat 0 65px;
			color:#fff;
			float:left;
			margin:0 0 30px;
			h3 {
				font-size:25px;
				font-weight:500;
				margin:0 auto 30px;
				line-height:120%;
			}

			> p {
				font-size: 13px;
				margin-bottom: 20px;
				line-height: 150%;
			}

			.grupo {
				margin:0 auto 20px;
				h4 {
					font-size:14px;
					font-weight:700;
					margin:0 auto 15px;
					// .opensans;
				}
				ul {
					li {
						a {
							display:inline-block;
							font-size:13px;
							color:#b8dae2;
							padding:0 0 0 15px;
							background:url(../img/a-descargar-azul-bg.png) no-repeat 0 4px;
							&:hover {
								text-decoration:underline;
							}
						}
						.disabled {
							color: #60ADBE;
  							cursor: default;
							&:hover {
								text-decoration:none;
							}
						}
					}
				}
			}
			&#recursos-de-desarrollo-content {
				margin:0;
			    h1 {
			        font-size: 25px;
			        font-weight: 500;
			        margin: 0 auto 30px;
			        line-height: 120%;
			    }
			    h2 {
			        font-size: 20px;
			        font-weight: bold;
			        margin: 25px auto 5px;
			        line-height: 120%;
			        border-bottom: 1px solid #fff;
			    }
			    h4 {
			        font-size: 17px;
			        font-weight: bold;
			        margin: 10px auto 5px;
			    }
			    h5 {
			        font-size: 16px;
			        font-weight: normal;
			        margin: 10px auto;
			    }
			    p {
			        font-size: 14px;
			        font-weight: normal;
			        margin: 10px auto;
			    }
			    ul {
			        list-style: disc;
			        padding-left: 20px;
			        line-height:180%;
			    }
			    li {
			        list-style: disc;
			        font-size: 14px;
			        ul {
						list-style:circle;
			        	li {
							list-style:circle;
			        	}
			        }
			    }
			    code {
			        font-size: 13px;
			        color:#3c8292;
			        line-height: 15px;
			        padding: 5px;
			        display: block;
			        background-color: #f8f8f8;
			        border: 1px solid #ddd;
			        border-radius: 3px;
			    }
			    table {
			        color:#b8dae2;
			        font-size: 12px;
			        width: 100%;
			        td {
			            color:#b8dae2;
			            font-size: 12px;
			            border: 1px solid #CEE9F4;
			            padding: 4px;
			        }
			        tr.title {
			            td {
			                font-weight: bold;
			            }
			        }
			    }
			}
			&.fixed {
				margin-left:220px;
			}
		}
		.github-buttons {
			float:right;
			background:#fff;
			margin:0 0 30px;
			padding:10px 20px 0;
			height:45px;
			width:740px;
		}
	}
	&.error404 {
		.texto {
			padding:120px 0 150px;
			color:#70B4C4;
			text-align:center;
			h2 {
				font-size:150px;
				font-weight:300;
			}
			h3 {
				font-size:30px;
			}
		}
	}
	&.pronto {
		.texto {
			padding:120px 0 150px;
			color:#70B4C4;
			text-align:center;
			h2 {
				font-size:60px;
				font-weight:300;
				margin:0 auto 25px;
			}
			h3 {
				font-size:28px;
				line-height:140%;
				padding:0 50px;
			}
		}
	}
}

footer {
	.wrap {
		background:#fff;
		// color:@grey;
	}
	.bicolor {
		height:2px;
	}
	.bottom {
		font-family: 'Open Sans', sans-serif;
		padding:15px 20px 0;
		font-size:12px;
		// color:@darkgrey;
		.left {
			float:left;
		}
		a {
			&:hover {
				text-decoration:underline;
			}
		}
		nav {
			float:right;
			ul {
				li {
					float:left;
					// border-right:1px solid @darkgrey;
					a {
						display:block;
						padding:0 6px;
						&:hover {
							text-decoration:underline;
						}
					}
					&:last-child {
						border-right:none;
						a {
							padding:0 0 0 6px;
						}
					}
				}
			}
		}
		.bicolor {
			margin:25px 0 0;
			width:216px;
			height:20px;
		}
	}
}

#subscribe {
	margin: 0px auto 20px;
	background: #fff;
	padding: 20px;
	height: 135px;
	border-bottom: 2px solid #C1C7C9;
	label {
		color: #7a8791;
		font-size: 12px;
	}
	h3 {
		color: #0168b3;
		font-size: 18px;
		font-weight: 500;
		margin: 0 auto 10px;
	}
	.left{
		float:left;
		width:200px;
		padding-right: 15px;
		border-right: 1px solid #CCC;
	}
	.right{
		float: right;
		width: 720px;
		padding: 15px 22px;
	}
	p{
		color: #7a8791;
		font-size: 12px;
	}
	#mce-EMAIL {
		width: 100%;
		height: 32px;
		margin: 5px 0;
	}
	#mc-embedded-subscribe{
		display: block;
		height: 32px;
		color: #fff;
		font-family: 'gobCL', Tahoma, Verdana, Segoe, sans-serif;
		font-size: 13px;
		background: #EE3A43;
		border:0;
		outline: 0;
		width: 100%;
		font-weight: bold;
		&:hover{
			background:#F94B5C;
		}
	}

}

.generador-firma {
	margin-bottom:20px;
	padding-bottom:15px;
	border-bottom:1px solid rgba(255,255,255,0.2);
	li {
		margin:0 0 10px;
		font-size:14px;
		label {
			margin-right:10px;
			width:75px;
			display:block;
			float:left;
		}
		input {
			padding:5px;
			color:#666;
			border:none;
			width:300px;
			&::-webkit-input-placeholder {
			    color:#abb6b7;
			}
			&:-moz-placeholder {
			    color:#abb6b7;
			}
			&::-moz-placeholder {
			    color:#abb6b7;
			}
			&:-ms-input-placeholder {
			    color:#abb6b7;
			}
		}
	}
}

.instrucciones {
	font-size:13px;
	margin-bottom:10px;
	p {
		margin-bottom:10px;
	}
	ul {
		li {
			margin-bottom:5px;
		}
	}
}

.firma {
	color:#7f7f7f;
	background:#fff;
	display:block;
	width:100%;
	padding:20px;
	font-size:9.0pt;
	line-height:115%;
	font-family:Arial, sans-serif;
	margin-top: 25px;
	.raya {
		font-family:'Arial Black', sans-serif;
		font-size:24.0pt;
		&.azul {
			color: #0168B3;
		}
		&.rojo {
			color: #EE3A43;
		}
	}
	.firma-strong {
		font-weight:bold;
		margin-top:10px;
		display:block;
	}
}
@import 'media.less';
